<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="//bootstrap-extension.com/bootstrap-extension-5.2.1/css/bootstrap-extension.min.css" type="text/css">
  </head>
  <body>
    <div class="container-fluid text-center px-4">
      <div class="row py-4">
        <div class="col py-4">
          <h1 class="display-1">Got Happy?</h1>
        </div>
      </div> 
    </div>
    <section class="parallax py-6" data-img-src="/static/images/happiness-this-way-photo-by-d-jonez.jpg" data-speed="0.3" style="background-image: url('/static/images/happiness-this-way-photo-by-d-jonez.jpg'); background-position-y: 150px;">
      <div class="container-fluid text-center text-white px-6">
        <h4 class="display-4">
          Each year since 2012, the WHR publishes its World Happiness Report - relying on various sources of data, most notably data from the Gallop World Poll - which is an annual report that illustrates how citizens across the world perceive their levels of happiness and quality of life.
        </h2>
      </div>    
      </section>
  </div>
    <section class="parallax py-6" data-img-src="/static/images/happiness-this-way-photo-by-d-jonez-cropped.jpg" data-speed="0.3" style="background-image: url('/static/images/happiness-this-way-photo-by-d-jonez-cropped'); background-position-y: 150px;"></section>
    <div class="container-fluid text-center px-4">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col py-4">
              <p class="lead text-center">
                Did you know? The World Happiness Report (WHR) is a publication of the Sustainable Development Solutions Network.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>  
    <section class="parallax py-6" data-img-src="static/images/happy-manhole-cover-photo-by-yuyeung-lau-cropped.jpg" data-speed="0.3" style="background-image: url('static/images/happy-manhole-cover-photo-by-yuyeung-lau-cropped.jpg'); background-position-y: 150px;"></section>
    <div class="container-fluid text-center px-4">
      <div class="row">
        <div class="col">
          Year after year, residents from over 150 countries have participated in this survey. A significant data point comes from responses from the <i></i>Cantril Self-Anchoring Striving Scale</i>. 
        </div>
      </div>
    </div>
    <section class="parallax py-6" data-img-src="/static/images/neon-happy-sign-photo-by-stan-b-cropped.jpg" data-speed="0.3" style="background-image: url('static/images/neon-happy-sign-photo-by-stan-b-cropped.jpg'); background-position-y: 150px;"></section>
    <div class="container-fluid text-center px-4">
      <div class="row">
        <div class="col">
          After you've had time to browse the data points, you may navigate to the Quiz page to learn more and have an opportunity to take the quiz yourself! 
        </div>
      </div>
    </div>
    <section class="parallax py-6" data-img-src="/static/images/happiness-marks-the-spot-photo-by-jacqueline-munguia.jpg" data-speed="0.3" style="background-image: url('/static/images/happiness-marks-the-spot-photo-by-jacqueline-munguia.jpg'); background-position-y: 500px;"></section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="//bootstrap-extension.com/bootstrap-extension-5.2.1/js/bootstrap-extension.min.js"></script>
  </body>
</html>
